<!-- <form (submit)="login()">
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email address</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </div>
      </div>
      <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-6">
              <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
          </div>
      </div>
  <button type="submit" class="btn btn-default">Sign In</button>
</form> -->


  

<!-- <mat-card class="example-card">
    <img mat-card-image src="assets/logo-new.png" alt="logo gsource">
    <mat-card-content>
      <form (submit)="login()">
          <div class="example-container">
          <mat-form-field>
              <input matInput type="email" name="email" placeholder="Enter your email" [formControl]="email"  [(ngModel)]="credentials.email"  required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" name="password" placeholder="Enter your password"  [type]="hide ? 'password' : 'text'"  [(ngModel)]="credentials.password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            </div>
            <button mat-button type="submit">LOG IN</button>
      </form>
    </mat-card-content>
</mat-card> -->
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>



    <mat-card>
        <img class="selectDisable" mat-card-image src="assets/gs_logo_white.png" alt="logo gsource">
        <mat-card-title style="color: white;">FILE SHARING SYSTEM</mat-card-title>
    <mat-card-content>
    <form  (submit)="login()">
      <p>
        <mat-form-field [color]="warn">
            <input matInput type="email" name="email" placeholder="Enter your email" [formControl]="email" [(ngModel)]="credentials.email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
    
      <p>
        <mat-form-field [color]="warn">
            <input matInput type="password" name="password" placeholder="Enter your password" [(ngModel)]="credentials.password" required>
        </mat-form-field>
      </p>
    
      <p *ngIf="error" class="error">
        {{ error }}
      </p>
    
      <div class="button">
        <button type="submit" mat-raised-button>Login</button>
      </div>
    
    </form>
    </mat-card-content>
    </mat-card>

